/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERALE */
body{
    max-width: 1200px;
    margin: 50px auto;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* CONTENITORE MAIN  */
.card{
    height: 100px;
    width: calc((100% / 3) - 20px);
    background-color: black;
}

.float-left{
    float: left;
}


.float-center{
    margin-left: 30px;
    margin-right: 30px;
}

img{
    height: 100px;
}

/* CARD  */
.text-card{
    color:white;
}
.text-card p:nth-child(3){
    color: #56b0cc;
}

.text-card p{
    margin: 10px;
}
h3{
    font-weight: 500;
    margin: 10px;
}